.footer{
    background-color: #1E1C26;
    padding: 50px;
    margin-top: 20px;
}
.footer p{
    color: white;
    text-align: center;
}
.footer-nav{
    text-align: center;
    margin-bottom: 20px;
    
}
.footer-nav a{
    margin-left: 20px;
    text-decoration: none;
    color: white;
    
}
.footer-nav a:hover{
    color:#FF284F;
    
}